	
	/* Colors

	Main Blue: #4d70ca;
	Main Orange: #d99d47;
	
	Light Blue: #;
	Light Orange: #daa65a;

	*/

	div, h1, h2, img, #cta {
		border-radius: 4px;
	}

	body {
		width: 960px;
		margin: 0 auto;
		font-family: Calibri, Helvetica, sans-serif;
		color: #fff;
		background-image: url('../img/dark_wall.png');
	}

	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
	}

	body {
		
	}

	#logo {
		height: 155px;
		width: 522px;
		margin: 30px auto;
	}

	#logo a {
		display: block;
		width: 400px;
		height: 119px;
		border: none;
	}

	header {
		margin-bottom: 25px;
	}

	footer {
		clear: left;
		border-top: 1px solid rgba(222, 222, 222, .5);
		margin-top: 15px;
	}

	footer p {
		text-align: center;
		margin: 10px 0;
	}

	nav ul li {
		list-style-type: none;
		display: block;
		float: left;
		text-align: center;
		width: 158px;
		margin: 0 1px;
		padding: 0;
	}

	nav ul li a {/*
		float: left;*/
		display: block;
		border: none;
		background-color: #4d70ca;
		padding: 5px 0;
	}

	nav ul {
		text-align: center;
		margin: 0;
		padding: 0 0 0 0;
	}

	nav {
		width: 100%;
		height: ;
		margin-bottom: 30px;
		overflow: hidden;
	}

	a {
		color: #fff;
		border-bottom: 1px solid #fff;
		text-decoration: none;
	}

	.active {
		color: #d99d47;
	}

	/******* Home page specific *******/

	#cta h2 {
		padding: 20px 0 20px 20px;
		font-size: 30px;
		margin: 0;
		background-color: rgba(0, 0, 0, .63);
	}

	#cta a {
		position: absolute;
		bottom: 15px;
		right: 20px;
		font-size: 24px;
		border: none;
		border-radius: 5px;
		background-image: -moz-linear-gradient(#6785d2, #4d70ca);
		background-image: -webkit-linear-gradient(#6785d2, #4d70ca);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6785d2', endColorstr='#4d70ca')";
		padding: 20px 40px;
	}

	#cta a:active {
		background-image: -moz-linear-gradient(#4d70ca, #6785d2);
		background-image: -webkit-linear-gradient(#4d70ca, #6785d2);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4d70ca', endColorstr='#6785d2')";
	}

	#cta {
		position: relative;
		clear: left;
		height: 629px;
		width: 940px;
		margin: 0 10px;
		background-image: url('../img/bike_curve.jpg');
		background-repeat: no-repeat;
		overflow: hidden;
	}

	.cta-text-container {
		width: 50%;
		position: absolute;
		bottom: 0px;
		left: 20px;
		font-size: 22px;
	}

	.intro {
		margin: 15px 10px 0;
	}

	.intro h2 {
		color: #d99d47;
		text-align: center;
		margin: 0;
		padding: 0;
		font-size: 26px;
	}

	.intro p {
		text-align: center;
		font-size: 18px;
		line-height: 1.6em;
		word-spacing: 3px;
		letter-spacing: .1em;
	}

	#browse-label {
		text-align: center;
		line-height: 3em;
		background-color: rgba(0, 0, 0, .4);
		margin: 20px 10px;
	}

	.spotlight {
		width: 50%;
		float: left;
	}

	.spotlight p {
		text-align: center;
		margin: 5px 0;
		padding: 0;
		color: #d99d47;
	}
	/*
	.brands-example {
		color: #d99d47;
	}

	.price-example {
		color: #d99d47;
	}*/

	.icon {
		margin: 0 auto;
		width: 400px;
		height: 262px;
	}

	.icon a {
		border: none;
	}

	.category-link {
		text-align: center;
		font-size: 22px;
		margin: 10px 0 30px;
	}

	.brands-example a {
		border: none;
		text-decoration: none;
		color: #d99d47;
	}

	.brands-example a:hover {
		border-bottom: 1px solid #d99d47;
	}

	/******** Form page specific ********/

	#page-wrapper-form {
		margin: 0 auto;
	}

	#page-wrapper-form h2 {
		font-size: 26px;
		text-align: center;
		background-color: rgba(0, 0, 0, .4);
		line-height: 3em;
	}

	.form-input {
		margin-bottom: 10px;
	}

	.form-input select {
		width: 214px;
	}

	.media-input {
		margin-top: 30px;
		width: 222px;
		float: left;
	}

	.media-label {
		margin-top: 30px;
		width: 234px;
		float: left;
		margin-right: 18px;
	}

	fieldset {
		border: none;
		width: 50%;
		float: left;
		margin: 0;
		padding: 0;

		padding: 40px 0 50px 0;
	}

	fieldset h3 {
		margin: 0;
		padding: 0;
		font-size: 22px;
		margin-bottom: 8px;
		text-align: right;
		clear: left;

		color: #d99d47;
	}

	fieldset p {
		margin: 0;
		padding: 0;
		clear: left;
		line-height: 1.2em;
		text-align: right;
	}

	.text {
		width: 208px;
	}

	.submit-btn {
		display: block;
		margin-left: 252px;
		width: 100px;
		height: 30px;
		clear: left;
		border: none;
		border-radius: 5px;

		background-image: -moz-linear-gradient(#daa65a, #d99d47);
		background-image: -webkit-linear-gradient(#daa65a, #d99d47);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#daa65a', endColorstr='#d99d47')";

		color: #fff;
		font-size: 14px;
	}

	.submit-btn:active {
		background-image: -moz-linear-gradient(#d99d47, #daa65a);
		background-image: -moz-linear-gradient(#d99d47, #daa65a);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#d99d47', endColorstr='#daa65a')";

	}

	label {
		display: block;
		float: left;
		text-align: right;
		width: 234px;
		margin-right: 18px;
		line-height: 1.5em;
		clear: left;
	}

	.form-image-group {
		width: 50%;
		float: right;
		margin: 0;
		padding: 0;
	}

	.form-image {
		width: 400px;
		margin: 0 40px;
	}

	/******* Moto X and Boating pages specific *******/

	#page-wrapper-moto h2, #page-wrapper-boat h2 {
		font-size: 26px;
		text-align: center;
		background-color: rgba(0, 0, 0, .4);
		line-height: 3em;
	}

	#page-wrapper-moto img, #page-wrapper-boat img {
		margin: 0;
	}

	.brand-division {
		position: relative;
		margin-bottom: 50px;
		height: 350px;
		border-bottom: 1px solid #f0cfa2;
	}

	.last {
		border: none;
	}

	#page-wrapper-boat .brand-division {
		height: 400px;
	}

	.info-link {
		width: 48%;
		float: left;
		margin-right: 2%;
		text-align: right;
	}

	.price {
		width: 48%;
		margin-left: 2%;
		float: left;
		text-align: left;
		color: #d99d47;
	}

	.purchase-info {
		width: 400px;
		float: left;
		background-color: rgba(0, 0, 0, .4);
	}

	.item-group {
		width: 400px;
		float: left;
		margin: 0 40px;
	}

	.template-thumbnail {
		float: left;
	}

	.brand-link {
		position: absolute;
		margin: 0;
		padding: 0;
		bottom: 10px;
		right: 15px;
		font-size: 18px;
	}

	.brand-link a {
		color: #f0cfa2;
		border-bottom: 1px solid #f0cfa2;
	}

	.brand-division h3 {
		font-size: 22px;
		text-align: center;
	}


	/******* Contact page specifics *******/

	dt {
		font-weight: bold;
	}

	dl {
		margin: 0;
		padding: 0;
	}

	#page-wrapper-contact h2 {
		font-size: 26px;
		text-align: center;
		background-color: rgba(0, 0, 0, .4);
		line-height: 3em;		
	}

	#contact-content {
		margin-left: 15px;
	}

	#contact-content a {
		color: #d99d47;
		border: none;
	}

	#contact-content a:hover {
		border-bottom: 1px solid #d99d47;
	}

	#contact-content h3 {
		color: #d99d47;
		padding: 0;
		margin: 0;
		margin-bottom: 5px;
	}

	/******* Client page specific *******/

	#past-clients h2 {
		font-size: 26px;
		text-align: center;
		background-color: rgba(0, 0, 0, .4);
		line-height: 3em;
	}

	#past-clients img {
		display: block;
	}

	#past-clients p {
		background-color: rgba(0, 0, 0, .4);
		margin: 0;
	}

	.client-division {
		height: 400px;
	}

	.racerman-story {
		width: 495px;
		height: 300px;
		padding-left: 15px;
		float: left;
		line-height: 1.5em;
		font-size: 18px;
	}

	.racerman-racers {
		float: left;
	}

	.racerman-title, .goughary-title {
		color: #d99d47;
		text-align: center;
	}

	.goughary-story {
		width: 495px;
		height: 290px;
		padding-right: 15px;
		line-height: 1.5em;
		font-size: 18px;
		float: right;
		text-align: right;
	}

	.goughary-boat {
		float: right;
	}

	/******* Media Queries *******/

	@media screen and (max-width: 320px) {
		body, html {
			width: 100%;
		}

		nav {
			width: 100%;
		}

		nav ul li {
			display: block;
			float: none;
			margin-bottom: 2px;
			width: 100%;
		}

		nav a {
			display: block;
			border: none;
			height: 45px;
			line-height: 3em;
			background-color: rgba(78, 112, 202, .6);
		}

		nav a:hover {
			background-color: rgba(78, 112, 202, .8);
		}

		nav a:active {
			background-color: rgba(78, 112, 202, .4);
		}

		nav ul {
			padding: 10px 0 0 0;
		}

		.active {
			border: none;
		}

		header {
			margin-bottom: 20px;
		}

		footer, footer p {
			height: 58px;
		}

		/** Home **/

		#logo {
			width: 100%;
			margin: 0 auto;
			height: 99px;
		}

		#logo img {
			width: 300px;
			height: 89px;
		}

		#logo a {
			width: 280px;
		}

		#cta {
			width: 92%;
			height: 200px;
			margin: 0 4%;
			background-image: url('../img/bike_curve_mobile.jpg');
		}

		#cta h2 {
			padding: 10px 0;
			text-align: center;
			font-size: 18px;
		}

		.cta-text {
			display: none;
		}

		#cta a {
			font-size: 14px;
			right: 10px;
			bottom: 10px;
			padding: 8px 12px;
		}

		.intro h2 {
			font-size: 20px;
		}

		.intro p {
			font-size: 16px;
		}

		#browse-label {
			font-size: 20px;
		}

		.icon img {
			width: 120px;
			height: 79px;
			margin: 0 auto;
		}

		.icon {
			margin: 0 auto;
			width: 120px;
			height: 79px;
		}

		.category-link, .brands-example, .price-example {
			font-size: 14px;
		}

		/** Form **/

		#page-wrapper-form h2 {
			font-size: 22px;
		}

		label {
			display: block;
			float: none;
			text-align: left;
			width: 100%;
		}

		.form-input {
			margin-left: 10px;
			margin-bottom: 10px;
		}

		.media-input {
			margin-bottom: 15px;
		}

		.media-input .form-input {
			margin-bottom: 5px;
		}

		.media-label {
			width: 100%;
		}

		.media-label h3, .media-label p {
			text-align: left;
			margin-left: 10px;
		}

		fieldset h3 {
			text-align: left;
			width: 60px;
			margin-left: 10px;
		}

		.submit-btn {
			width: 90%;
			margin: 15px 10px 0;
		}

		.form-image-group {
			display: none;
		}

		/* moto and boating */

		#page-wrapper-moto h1 {
			font-size: 24px;
		}

		.template-thumbnail {
			width: 92%;
			margin: 5px 4%;
			float: none;
		}

		.template-thumbnail img {
			width: 278px;
		}

		.brand-division {
			width: 100%;
			height: 600px;
		}

		#page-wrapper-boat .brand-division {
			height: 550px;
		}

		.item-group {
			width: 100%;
			margin: 0;
			margin-bottom: 20px;
		}

		.purchase-info {
			width: 100%;
			margin: 0 4%;
		}

		.price {
			width: 48%;
			margin-left: 2%;
			float: left;
			text-align: left;
			color: #d99d47;
		}

		.purchase-info {
			width: 278px;
			float: left;
			background-color: rgba(0, 0, 0, .4);
		}
		.info-link {
			width: 48%;
			float: left;
			margin-right: 2%;
			text-align: right;
		}

		/** Client **/

		.racerman-racers {
			width: 300px;
			height: 200px;
		}

		.goughary-boat {
			width: 300px;
			height: 193px;
		}

		.racerman-title, .goughary-title {
			text-align: left;
		}

		.racerman-story, .goughary-story {
			width: 100%;
			margin: 0;
			padding: 0;
			text-align: left;
			font-size: 14px;
			height: 200px;
		}

		/** Contact **/

		#contact-content {
			margin-left: 10px;
		}
	}


	@media screen and (min-width: 767px) and (max-width: 769px) {

		body, html {
			width: 100%;
		}

		nav {
			width: 100%;
		}

		nav ul li {
			display: block;
			float: none;
			margin-bottom: 2px;
			width: 100%;
		}

		nav a {
			display: block;
			border: none;
			height: 45px;
			line-height: 3em;
			background-color: rgba(78, 112, 202, .6);
		}

		nav a:hover {
			background-color: rgba(78, 112, 202, .8);
		}

		nav a:active {
			background-color: rgba(78, 112, 202, .4);
		}

		nav ul {
			padding: 0;
		}

		.active {
			border: none;
		}

		header {
			margin-bottom: 20px;
		}

		footer, footer p {
			height: 58px;
		}

		/* Home */

		#cta {
			width: 96%;
			height: 484px;
			margin: 0 2%;
			background-image: url('../img/bike_curve_ipad.jpg');
		}

		#cta h2 {
			padding: 10px 0;
			text-align: center;
			font-size: 22px;
		}

		#cta a {
			padding: 15px 30px;
			font-size: 20px;
		}

		.cta-text {
			font-size: 16px;
		}

		.spotlight {
			width: 50%;
		}

		.icon img {
			margin: 0 auto;
			width: 350px;
			height: 230px;
		}

		.icon {
			margin: 0 auto;
			width: 350px;
			height: 230px;
		}

		/* moto and boat */

		.template-thumbnail {
			width: 500px;
			margin: 5px 134px;
			float: none;
		}

		.template-thumbnail img {
			width: 500px;
		}

		#page-wrapper-moto .brand-division {
			width: 100%;
			height: 750px;
		}

		#page-wrapper-boat .brand-division {
			height: 850px;
		}

		.item-group {
			width: 100%;
			margin: 0;
			margin-bottom: 20px;
		}

		.price {
			width: 48%;
			margin-left: 2%;
			float: left;
			text-align: left;
			color: #d99d47;
		}

		.purchase-info {
			margin: 0 134px;
			width: 500px;
			float: left;
			background-color: rgba(0, 0, 0, .4);
		}
		.info-link {
			width: 48%;
			float: left;
			margin-right: 2%;
			text-align: right;
		}

		/* Form */

		/*#page-wrapper-form h2 {
			font-size: 22px;
		}

		label {
			display: block;
			float: none;
			text-align: left;
			width: 100%;
		}

		.form-input {
			margin-left: 10px;
			margin-bottom: 10px;
		}

		.media-input {
			margin-bottom: 15px;
		}

		.media-input .form-input {
			margin-bottom: 5px;
		}

		.media-label {
			width: 100%;
		}

		.media-label h3, .media-label p {
			text-align: left;
			margin-left: 10px;
		}

		fieldset h3 {
			text-align: left;
			width: 60px;
			margin-left: 10px;
		}

		.submit-btn {
			width: 90%;
			margin: 15px 10px 0;
		}*/

		.form-image-group {
			display: none;
		}

		fieldset {
			width: 50%;
			margin: 0 25% 20px;
			padding: 0;
		}

		label {
			width: 100px;

		}

		.media-label h3, .media-label p {
			text-align: left;
		}

		.media-input {
			margin-left: 118px;
		}

		.submit-btn {
			margin-left: 118px;
		}

		/* Clients */

		.racerman-racers, .goughary-boat, .racerman-story, .goughary-story {
			width: 364px;
		}

		.racerman-story, .goughary-story {
			height: 243px;
		}

		.client-division {
			height: 300px;
		}

	}