	body {
		width: 960px;
		margin: 10px auto;
		font-family: Calibri, Helvetica, sans-serif;
	}

	#logo {
		height: 119px;
		width: 400px;
		border: 1px dotted #000;
		margin: 0 auto;
	}

	#logo a {
		display: block;
		width: 400px;
		height: 119px;
		border: none;
	}

	header {
		margin-bottom: 35px;
	}

	footer {
		clear: left;
		border-top: 2px solid #000;
	}

	footer p {
		text-align: center;
	}

	nav ul li {
		list-style-type: none;
		display: inline-block;
	}

	nav ul li a {/*
		float: left;*/
		margin: 0 10px;
	}

	nav ul {
		text-align: center;
		margin: 0;
		padding: 15px 0 0 0;
	}

	nav {
		width: 100%;
	}

	a {
		color: #000;
		text-decoration: none;
		border-bottom: 1px solid #000;
	}

	/******* Moto X and Boating pages specific *******/

	#page-wrapper-moto h1 {
		text-align: center;
		background-color: #ddd;
		line-height: 2em;
	}

	.template-thumbnail {
		width: 31%;
		height: 250px;
		border: 1px dotted #000;
		float: left;
		margin: 0 1%;
	}

	.brand-division p {
		width: 31%;
		float: left;
		margin: 10px 1% 0;
		text-align: center;
	}

	.brand-division {
		margin-bottom: 50px;
		height: 350px;
		border-bottom: 1px solid #000;
	}

	.brand-division h2 {
		text-align: center;
	}

	/******* Home page specific *******/

	#cta h2 {
		margin: 20px 0 0 20px;
		font-size: 30px;
		padding: 0;
	}

	#cta a {
		position: absolute;
		bottom: 15px;
		right: 20px;
		font-size: 24px;
	}

	#cta {
		position: relative;
		clear: left;
		width: 100%;
		height: 400px;
		border: 1px dotted #000;
	}

	#browse-label {
		text-align: center;
		line-height: 3em;
		background-color: #ddd;
		margin: 20px 0;
	}

	.spotlight {
		width: 50%;
		float: left;
	}

	.icon {
		margin: 0 auto;
		width: 70%;
		height: 150px;
		border: 1px dotted #000;
	}

	.category-link {
		text-align: center;
	}

	/******** Form page specific ********/

	#page-wrapper-form {
		width: 600px;
		margin: 0 auto;
	}

	#page-wrapper-form h2 {
		font-size: 26px;
		background-color: #ddd;
		text-align: center;
		padding: 10px 0;
	}

	.form-input {
		margin-bottom: 15px;
	}

	.form-input select {
		width: 214px;
	}

	.media-input {
		clear: left;
	}

	.media-input .form-input {
		margin-bottom: 10px;
	}

	fieldset {
		border: none;
		padding: 20px 0;
		margin: 0 10px;
		background-color: #ddd;
	}

	fieldset h3 {
		width: 36%;
		text-align: right;
		line-height: 24px;
		float: left;
	}

	fieldset p {
		width: 10%;
		float: left;
		line-height: 24px;
		margin-left: 10px;
	}

	.text {
		width: 208px;
	}

	.submit-btn {
		margin-left: 38%;
		margin-top: 12px;
		width: 100px;
		height: 30px;
	}

	label {
		display: block;
		float: left;
		text-align: right;
		width: 36%;
		margin-right: 2%;
		line-height: 1.5em;
		clear: left;
	}


	/******* Media Queries *******/

	@media screen and (max-width: 320px) {
		body, html {
			width: 100%;
		}

		nav {
			width: 100%;

		}

		nav ul li {
			display: block;
			float: none;
		}

		nav ul {
			padding: 10px 0 0 0;
		}

		#logo {
			width: 280px;
			margin: 0 auto;
		}

		#logo a {
			width: 280px;
		}

		#cta {
			width: 92%;
			height: 200px;
			margin: 0 4%;
		}

		#cta h2 {
			margin: 0;
			text-align: center;
			font-size: 20px;
		}

		#cta a {
			font-size: 14px;
			right: 10px;
			bottom: 15px;
		}

		header {
			margin-bottom: 20px;
		}

		.icon {
			height: 60px;
		}

		.category-link {
			font-size: 16px;
		}


		#page-wrapper-form {
			width: 100%;
		}

		#page-wrapper-form h2 {
			font-size: 22px;
		}

		label {
			display: block;
			float: none;
			text-align: left;
			width: 100%;
		}

		.form-input {
			margin-left: 10px;
			margin-bottom: 10px;
		}

		.media-input .form-input {
			margin-bottom: 5px;
		}

		fieldset h3 {
			text-align: left;
			width: 60px;
			margin-left: 10px;
		}

		.submit-btn {
			width: 90%;
			margin: 15px 10px 0;
		}


		#page-wrapper-moto h1 {
			font-size: 24px;
		}

		.template-thumbnail {
			width: 92%;
			height: 170px;
			margin: 5px 4%;
			float: none;
		}

		.brand-division {
			height: 600px;
		}

		.brand-division p {
			display: none;
		}
	}